@model UserProfileModel

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 LeftNavbarFixed">
            <a href="/Index">
                <img src="~/logo-icon.png" height="50" width="50" />
            </a>

            <ul class="QuickList">
                <li class="QuickListElement"><a href="/Home">Home</a></li>
                <li class="QuickListElement">Explore</li>
                <li class="QuickListElement">Notifications</li>
                <li class="QuickListElement">Messages</li>
                <li class="QuickListElement">
                    <a href="@Url.Page("UserProfile", new { userId = Model.VisitorUser.Id })" style="color: #7d0ded;">Profile</a>
                </li>
                <li class="QuickListElement"><a asp-page="Home" asp-page-handler="Logout">Logout</a></li>
                <li>
                    <button class="btn rounded-pill PostButton" asp-page-handler="RedirectToHome">Tweet</button>
                </li>
            </ul>

            <div class="HomeProfileBadge BackgroundColorObjects">
                <div class="col-sm-12 fw-bold">
                    <a href="@Url.Page("UserProfile", new { userId = Model.VisitorUser.Id })">@Model.VisitorUser.Name</a>
                </div>
            <div class="col-sm-12 text-muted">@@@Model.VisitorUser.UserName</div>

            <div class="col-sm-12">
                <br />
                <img src="~/icon-calendar.png" alt="Registration Date" height="15" width="15" />
                <h class="text-muted">Joined @Model.VisitorUser.RegistrationDate.Value.ToLongDateString()</h>

                <br />
                <img src="~/birthday-cake.png" alt="Birthday" height="15" width="15" />
                <h class="text-muted">@Model.VisitorUser.Birthday.ToLongDateString()</h>
            </div>
            </div>
        </div>
    </div>
</div>
