@page
@model Suvorov.LNU.TwitterClone.Web.Pages.PostsModel
@{
    ViewData["Title"] = "Posts";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(post => post.Posts[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(post => post.Posts[0].TextContent)
            </th>
            <th>
                @Html.DisplayNameFor(post => post.Posts[0].ImageContent)
            </th>
            <th>
                @Html.DisplayNameFor(post => post.Posts[0].PostDate)
            </th>
            <th>
                @Html.DisplayNameFor(post => post.Posts[0].User.UserName)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var post in Model.Posts)
        {
            <tr>
                <td>
                    @Html.DisplayFor(postItem => post.Id)
                </td>
                <td>
                    @Html.DisplayFor(postItem => post.TextContent)
                </td>
                <td>
                    @Html.DisplayFor(postItem => post.ImageContent)
                </td>
                <td>
                    @Html.DisplayFor(postItem => post.PostDate)
                </td>
                <td>
                    @Html.DisplayFor(postItem => post.User.UserName)
                </td>
            </tr>
        }
    </tbody>
</table>